@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tour</h1>
    <img src="~/LaytonTemple.image.jpg" style="width:750px;" />
</div>   

<button asp-action="SignUp" class="text-center">Schedule a Tour</button>

