@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tour</h1>
    <br />
    <img src="~/LaytonTemple.image.jpg" style="width:750px;" />
</div>

<br />

<a href="/Home/SignUp" class="btn btn-block btn-primary">Schedule a Tour</a>

